openapi: 3.2.0
info:
  title: Segment HTTP Tracking Track API
  description: The Segment HTTP Tracking API enables developers to record analytics data from any website or application by sending HTTP requests directly to Segment servers. It supports identify, track, page, screen, group, alias, and batch calls, and Segment routes the collected data to configured destinations. The API accepts batch requests up to 500 KB and requires each payload to include a userId or anonymousId. It is a server-side alternative to Segment's client-side SDKs.
  version: 1.0.0
  contact:
    name: Segment Support
    url: https://segment.com/help/
  termsOfService: https://segment.com/legal/terms/
servers:
- url: https://api.segment.io/v1
  description: Production Server (US)
- url: https://events.eu1.segmentapis.com/v1
  description: Production Server (EU)
security:
- basicAuth: []
tags:
- name: Track
  description: Operations for tracking events and actions performed by users.
paths:
  /track:
    post:
      operationId: track
      summary: Track an event
      description: Records an action that a user performs. A track call requires an event name and can include properties that describe the event, such as revenue, product details, or other contextual information.
      tags:
      - Track
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TrackCall'
      responses:
        '200':
          description: Event accepted successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          description: Invalid request payload.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Invalid or missing write key.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
components:
  schemas:
    Integrations:
      type: object
      description: Dictionary of destinations to enable or disable. Pass a destination name as key and true/false as the value to control which destinations receive the data.
      additionalProperties:
        oneOf:
        - type: boolean
        - type: object
    ErrorResponse:
      type: object
      properties:
        success:
          type: boolean
          description: Always false for error responses.
        message:
          type: string
          description: A human-readable error message.
    Context:
      type: object
      description: Dictionary of extra context for the call. Context is a dictionary of extra information that provides useful context about a data point, such as the user's IP address, locale, or device information.
      properties:
        active:
          type: boolean
          description: Whether the user is active.
        ip:
          type: string
          description: The IP address of the user.
        locale:
          type: string
          description: The locale string for the user.
        userAgent:
          type: string
          description: The user agent string of the client.
        library:
          type: object
          description: Information about the library making the call.
          properties:
            name:
              type: string
              description: The name of the library.
            version:
              type: string
              description: The version of the library.
        page:
          type: object
          description: Information about the current page.
          properties:
            path:
              type: string
              description: The path of the page.
            referrer:
              type: string
              format: uri
              description: The referrer URL.
            search:
              type: string
              description: The search query string.
            title:
              type: string
              description: The page title.
            url:
              type: string
              format: uri
              description: The full URL of the page.
        device:
          type: object
          description: Information about the user's device.
          properties:
            id:
              type: string
              description: The device ID.
            manufacturer:
              type: string
              description: The device manufacturer.
            model:
              type: string
              description: The device model.
            name:
              type: string
              description: The device name.
            type:
              type: string
              description: The device type.
    TrackCall:
      type: object
      required:
      - event
      description: A track call records an action that a user performs.
      properties:
        userId:
          type: string
          description: Unique identifier for the user in your database.
        anonymousId:
          type: string
          description: A pseudo-unique substitute for a user ID.
        event:
          type: string
          description: Name of the action that a user has performed.
        properties:
          type: object
          description: Free-form dictionary of properties of the event, like revenue or product details.
          additionalProperties: true
        context:
          $ref: '#/components/schemas/Context'
        integrations:
          $ref: '#/components/schemas/Integrations'
        timestamp:
          type: string
          format: date-time
          description: ISO 8601 date string when the message was originally sent.
        messageId:
          type: string
          description: Unique identifier for the message to deduplicate.
    SuccessResponse:
      type: object
      properties:
        success:
          type: boolean
          description: Whether the request was accepted.
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic authentication using the source write key as the username and an empty password. The write key is found in the Segment source settings.
externalDocs:
  description: Segment HTTP Tracking API Documentation
  url: https://segment.com/docs/connections/sources/catalog/libraries/server/http-api/
